.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  gap: 5px;
}
.home-container {
  display: flex;
}
.images-mainimg {
  max-width: 100%;
  min-width: 375px;
  height: auto;
  border-style: solid;
  border-color: whitesmoke;
}
