* {
  background-color: lightgray;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: lightseagreen;
  line-height: 1.2;
  text-align: center;
}

.button {
  background-color: lightblue;
  color: whitesmoke;
  text-decoration: none;
  padding: 7px;
  border-radius: 7px;
}

img {
  width: 25px;
  height: auto;
}

.navigation {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.backtotop {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
