* {
  background-color: lightgray;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: lightseagreen;
  line-height: 1.2;
}

.button {
  background-color: lightblue;
  color: whitesmoke;
  text-decoration: none;
  padding: 7px;
  border-radius: 7px;
}
